<footer class="footer" role="contentinfo">
    <small>
        <div style="opacity:0.6">
            © barna soma biro 2022
        </div>
    </small>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div style="text-align: right">
        <a href="https://www.behance.net/bsbiro" class="fa fa-behance"></a>
        <a href="https://www.instagram.com/b.s.biro" class="fa fa-instagram"></a>
        <a href="https://uk.linkedin.com/in/bsbiro" class="fa fa-linkedin"></a>
        <a href="https://github.com/bsbiro" class="fa fa-github"></a>
    </div>
        
</footer>
