<nav role="navigation">
  <ul>
      <!-- <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>home</a></li> -->
      <li><a href="/work" {% if page.url == "/work" %}class="active"{% endif %}>work</a></li>
      <li><a href="/info" {% if page.url == "/info" %}class="active"{% endif %}>info</a></li>
      <!-- <li><a href="/contact" {% if page.url == "/contact" %}class="active"{% endif %}>contact</a></li> -->
      <li><a href="/snake" {% if page.url == "/snake" %}class="active"{% endif %}>snake</a></li>
      <li class="right"> <button class="button" onclick="myFunction()" style.display='none'" style="font-weight:bold" >•</button> </li>    
  </ul>
      
<script>
        
<!-- function myFunction() { -->
   <!-- var element = document.body; -->
   <!-- element.classList.toggle("dark-mode"); -->
}
        
function myFunction() {
  var body = document.getElementById("body");
  var currentClass = body.className;
  body.className = currentClass == "dark-mode" ? "light-mode" : "dark-mode";
}
        
function togglePageContentLightDark() {
  var body = document.getElementById('body')
  var currentClass = body.className
  var newClass = body.className == 'dark-mode' ? 'light-mode' : 'dark-mode'
  body.className = newClass

  // Save the theme preference for 10 years.
  var endDate = new Date();
  endDate.setFullYear(endDate.getFullYear() + 10);

  document.cookie = 'theme=' + (newClass == 'light-mode' ? 'light' : 'dark') +
                    '; Expires=' + endDate + ';'
  console.log('Cookies are now: ' + document.cookie)
}
        
function isDarkThemeSelected() {
  return document.cookie.match(/theme=dark/i) != null
}
        
function setThemeFromCookie() {
  var body = document.getElementById('body')
  body.className = isDarkThemeSelected() ? 'dark-mode' : 'light-mode'
}
        
(function() {
  setThemeFromCookie()
})();        
        
</script>
  
</nav>
