html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0 auto;
    width: 100%;
    max-width: 70rem;
    padding: 1rem;
}

p {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}	

ul {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}	

b, h1, h2, h3, h4 {
	font-weight: normal;
	padding: 0.25rem;
        text-transform: lowercase;
	background: #484848;
    	color: snow;
	display: inline;
}

strong {
	font-weight: bold;		
}

.fa {
  text-decoration: none;
  margin-right: 0.25rem;
  color: #484848;
  display: inline;
}

.fa:hover {
  color: pink;
}

hr {
    background: #484848;
    border: 0;
    height: 1px;
    margin: 2rem 0;
    width: 100%;
}

iframe {
    min-width: 100%; 
    width: 100px;
    *width: 100%;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    width: 50%;
    margin: 0.5rem 0;
}

nav {
    ul {
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
        }
    }
    a {
        margin: 0.5rem;
	padding: 0rem;
        text-transform: lowercase;
	text-decoration: none;
	color: #484848;
    }
}

footer {
    margin: 2rem 0;
}
