html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0 auto;
    width: 100%;
    max-width: 70rem;
    padding: 1rem;
}

p {
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
}	

ul {
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
}	

b, h1, h2, h3, h4 {
	font-weight: normal;
	font-size: 0.9rem;
	padding: 0rem 0.25rem 0rem 0.25rem;
        text-transform: lowercase;
	background: #484848;
    	color: snow;
	display: inline;
}

body.dark-mode h4 {
	background: snow;
    	color: #484848;
}

strong {
	font-weight: bold;		
}

.fa {
  text-decoration: none;
  margin-right: 0.25rem;
  color: #484848;
  display: flex;
  justify-content: space-between;
}

.fa:hover {
  color: pink;
}

hr {
    background: #484848;
    border: 0;
    height: 1px;
    margin: 2rem 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    width: 100%;
    margin: 0rem;
}

nav {
    ul {
        list-style: none;
        text-align: left;
	padding: 0;
	margin: 0rem 1rem 1rem 1rem;

        li {
            display: inline-block;
        }
	li.right{
    	  float: right;
	}
    }
    a {
        margin: 0.5rem;
	padding: 0rem;
	font-size: 0.9rem;
        text-transform: lowercase;
	text-decoration: none;
	color: #484848;
    }
    .button {
	  border: none;
	  color: #484848;
	  margin: -0.25rem 0rem 0rem 0rem;
	  padding: 0rem 0rem 0rem 0rem;
	  text-align: right;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 1.1rem;
	  font-weight: bold;
	  cursor: pointer;
	  background-color: snow;
	}
    .button:hover {
	  color: pink;
	}
}

body.dark-mode nav {
  a {
    color: snow;
    }
  .button {
    color: snow;
    background-color: #484848;
  }
  .button:hover {
    color: pink;
  }
}

footer {
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

.slideshow-container {
  position: relative;
  margin: 0rem 0rem;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #484848;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  color: pink;
}

.dot {
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  /* color: #484848; */
}

.active, .dot:hover {
  color: pink;
}

.right {
text-align: right;
}

.ft {
 width: 125px;
 height: 125px;
 display: block;
 float: left;
 background: url('https://bsbiro.github.io/pt.png') center center no-repeat;
 background-size: contain;
}

.ft:hover {
   background-image: url('https://bsbiro.github.io/trophy 2.2.png');
}

.way {
 width: 125px;
 height: 125px;
 display: block;
 float: left;
 background: url('https://bsbiro.github.io/pt.png') center center no-repeat;
 background-size: contain;
}

.way:hover {
   background-image: url('https://bsbiro.github.io/way 2.png');
}

.bin {
 width: 125px;
 height: 125px;
 display: block;
 float: left;
 background: url('https://bsbiro.github.io/pt.png') center center no-repeat;
 background-size: contain;
}

.bin:hover {
   background-image: url('https://bsbiro.github.io/bins 2.2.png');
}

.amoeba {
 width: 125px;
 height: 125px;
 display: block;
 float: left;
 background: url('https://bsbiro.github.io/pt.png') center center no-repeat;
 background-size: contain;
}

.amoeba:hover {
   background-image: url('https://bsbiro.github.io/amoeba.png');
}

.lpc {
 width: 125px;
 height: 125px;
 display: block;
 float: left;
 background: url('https://bsbiro.github.io/pt.png') center center no-repeat;
 background-size: contain;
}

.lpc:hover {
   background-image: url('https://bsbiro.github.io/connector 5.png');
}

.pt {
 width: 125px;
 height: 125px;
 display: block;
 float: left;
 background: url('https://bsbiro.github.io/pt.png') center center no-repeat;
 background-size: contain;
}

.pt:hover {
   background-image: url('https://bsbiro.github.io/pt1.png');
}

.tc {
 width: 125px;
 height: 125px;
 display: block;
 float: left;
 background: url('https://bsbiro.github.io/pt.png') center center no-repeat;
 background-size: contain;
}

.tc:hover {
   background-image: url('https://bsbiro.github.io/tc.png');
}
