html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
}

b, h1, h2, h3, h4 {
	font-weight: normal;
	padding: 0.25rem;
        text-transform: lowercase;
	background: #383838;
    	color: snow;
	line-height: 1rem;
	display: inline;
}

strong {
	font-weight: bold;		
}

hr {
    background: #383838;
    border: 0;
    height: 1px;
    margin: 2rem 0;
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    width: 100%;
    margin: 0.5rem 0;
}

nav {
    ul {
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
        }
    }
    a {
        margin: 0.5rem;
	padding: 0rem;
        text-transform: lowercase;
	text-decoration: none;
	color: #383838;
    }
}

footer {
    margin: 2rem 0;
}
