---
layout: default
---

{% for project in site.projects reversed %}
<article role="article">
  <a class="project" href="{{ site.baseurl }}{{ project.url }}" style="text-decoration:none">
    {{ project.title }}
  </a>
  <div style="margin-bottom:0; margin-top:0.25rem">{{ project.summary }}</div>
    <time class="date" datetime="{{ project.date | date_to_xmlschema }}">{{ project.date | date: "%Y" }} &middot; {{ project.category }}</time>
</article>
<div style="height:1.5rem"></div>
{% endfor %}
