---
layout: default
---

<article class="post" role="article">
  {{ content }}
  <div style="display:inline-block"><a class="prev3" style="text-decoration:none" href="{{ page.prev2 }}">&#10094;</a></div><div style="display:inline-block"><h4>{{ page.title }}</h4>
  <div style="height: 0.25rem"></div>
  <div style="display:inline-block"><time class="date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y" }} &middot; {{ page.category }}</time></div><a class="next3" style="text-decoration:none" href="{{ page.next2 }}">&#10095;</a></div>
  <br><br>
  {{ page.description }}
</article>
